body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

nav {
    /* change the items to be one line after the other */
    display: flex;
    flex-direction: column;
}

.container {
    margin: 4rem auto;
    width: 960px;
    border: #ffffff 1px solid;
}

.container h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ingredients-card {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.directions-card {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

img {
    max-width: 10rem;
    margin: 1rem auto;
}

a {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    border: #ffffff 1px solid;
    border-radius: 5px;
    max-width: 5rem;
    margin: 1rem auto;
}

a:hover {
    color: #363636;
    background-color: #d8d7d7;
    text-decoration: underline;
}